{% load generate_doc %}

<html>
<head>
	<title>REST resource reference documentation</title>
</head>
<body>
	<h1>REST resource reference documentation</h1>
{% if show_toc %}
<h2>Resource index</h2>
<ul>
	{% for resource in resources %}
	<li><a href="#{{resource.name}}">{{resource.name}}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% for resource in resources %}
<h2><a name="{{resource.name}}"></a>{{resource.name}}</h2>
    <dl>

      <dt>Documentation string</dt>
      <dd>{{resource.get_class_doc}}</dd>

      <dt>Allowed HTTP methods</dt>
      {% for method in resource.methods %}
        <dd>{{method}}</dd>
      {% endfor %}

      <dt>URL patterns</dt>
      {% for pat in resource.get_urlpatterns %}
        <dd>{{pat.regex.pattern}}</dd>
      {% endfor %}

      <dt>Parent resource</dt>
      {% if resource.parent_resource %}
        <dd><a href="{{resource.get_relative_link_to_parent}}/?_info">{{resource.parent_resource.name}}</a></dd>
      {% else %}
        <dd>No parent defined for this resource</dd>
      {% endif %}

      <dt>Valid content-types (UI)</dt>
      {% for mimetype in resource.fallback_mimetypes %}
        <dd>{{mimetype}}</dd>
      {% endfor %}

      <dt>Valid content-types (service)</dt>
      {% for mimetype in resource.formatters.keys %}
        <dd>{{mimetype}}</dd>
      {% endfor %}

      <dt>Authentication</dt>
      <dd>Authentication for GET: {{resource.get_auth_info_get}}</dd>
      {% if resource.get_methods_but_get %}
      <dd>Authentication for other methods ({{resource.get_methods_but_get}}): {{resource.get_auth_info_update}}</dd>
      {% endif %}

      <dt>Accepted data structure</dt>
      {% if resource.form_class %}
        {% for field in resource.form_class.fields %}
          <dd>{{field}}</dd>
        {% endfor %}
      {% else %}
        <dd>This resource does not accept data</dd>
      {% endif %}

      <dt>Returned data structure</dt>
      {% for field in resource.get_output_fields %}
        <dd>{{field.name}}: <a href="{{field|get_link:resources}}">{{field|get_class:resources}}</a></dd>
      {% endfor %}
    </dl>
{% endfor %}
</body>
</html>